/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 290px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0E0B16; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    border-right: 1px solid #7E5DF9;
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    font-size: 26px;
    font-family: 'Chakra Petch', sans-serif, '300';
    color: #7E5DF9;
    display: block;
    line-height: 40px;
  }
  
  
  /* Style page content */
  .main {
    margin-left: 290px; /* Same as the width of the sidebar */
    padding: 0px 0px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .jonas_headshot{
    margin-top: 40px;
    text-align: center;
  }

  .headshot{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid #7E5DF9; 
  }

  h1{
    font-family: 'Chakra Petch', sans-serif, '700';
    text-align: center;
    font-size: 40px;
    color: #7E5DF9;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .job{
    font-family: 'Chakra Petch', sans-serif, '300';
    text-align: center;
    font-size: 15px;
    color: #E7DFDD;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .main_menu{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 25px;

  }


  body{
      background-color: #0E0B16;
  }

  .hi{
    font-family: 'Chakra Petch', sans-serif, '700';
    text-align: center;
    font-size: 60px;
    color: #E7DFDD;
    position: fixed;
    top: 137px;
    left: 408px;
  }

  .introduction_text{
    font-family: 'Chakra Petch', sans-serif, '300';
    text-align: left;
    font-size: 30px;
    color: #E7DFDD;
    position: fixed;
    top: 35.895833333%;
    left: 31.574074074%;
  }

  h2{
    font-family: 'Chakra Petch', sans-serif, '700';
    text-align: center;
    font-size: 50px;
    color: #E7DFDD;
    position: fixed;
    top: 1.895833333%;
    left: 23.574074074%;
    margin: 0%;
    z-index: 1;
  }

  .vector_image{
    position: absolute; 
    bottom: 0px; 
    right: 0px;
    height: 300px;
    width: 300px;
  }

  .language{
    margin-top: 10px;
  }

  .language a{
    display:inline-block;
  }

  .portuguese, .english{
    height: 20px;
    width: 30px;
  }

  .content_contact_page{
    font-family: 'Chakra Petch', sans-serif, '300';
    width: 700px;
    height: 110px;
    text-align: justify;
    font-size: 22px;
    color: #E7DFDD;
    position: fixed;
    top: 20%;
    left: 25%;
  }

  
  .contact_links{
    position: fixed;
    top: 37%;
    left: 27%;
  }

  .contact_links a{
      text-decoration: none;
      font-size: 22px;
      font-family: 'Chakra Petch', sans-serif, '300';
      color: #7E5DF9;
      display: block;
      line-height: 50px;
  }

  .email_icon, .github_icon, .linkedin_icon{
    height: 50px;
    width: 50px;
    float: left; 
    margin-right: 10px;
    
  }

  

  